DEPLOY_REGION=eu-north-1
COGNITO_CLIENT_ID=replace-me
COGNITO_CLIENT_SECRET=
WEB_ORIGIN=http://localhost:3000
WEB_ORIGIN_LOCAL=http://localhost:3000
SESSION_TTL_SECONDS=2592000
SPEECHMATICS_API_KEY=replace-me
SPEECHMATICS_API_URL=https://eu1.asr.api.speechmatics.com
SPEECHMATICS_LANGUAGE=es
SPEECHMATICS_REALTIME_URL=wss://eu.rt.speechmatics.com/v2
